*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  background-color: black;
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
body {
  color: white;
}
.user-card {
  background-color: rgba(25, 25, 24, 255);
}
.top-half {
  display: flex;
  align-items: stretch;
}
.pfp-block {
  background-color: rgba(34, 34, 34, 255);
  flex-grow: 1.8;
  flex-shrink: 1;
  flex-basis: 0%;
  position: relative;
}
.pfp-container{
  position: absolute;
  top: 10px;
  left: 10px;
}
.user-name{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.pinned-image-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 15px;
}
.pfp-container img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
