*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  background-color: black;
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
body {
  font-family: "Nunito Sans";
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  font-size: .875rem;
}
.profile-card {
  position: absolute;
  top: 45px;
  background-color: rgba(25, 25, 24, 255);
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
}
.top-half {
  display: flex;
  align-items: center;
  height: 320px;
}

.user-info {
  background-color: rgba(34, 34, 34, .65);
  position: relative;
  flex: 1.6;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  border-top-left-radius: 20px;

}

.profile-picture {
  position: absolute;
  margin-right: 10px;
  top: 8px;
  left: 8px;
  border-radius: 100px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.user-name {
  font-weight: 700;
  position: absolute;
  bottom: 5px;
  left: 8px;
  color: white;
}

.pinned-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.pinned-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 100%;
  width: auto;
  object-fit: cover;
}

.bottom-half {
  position: relative;
  height: 50%;
  margin-top: 16px;
}

.user-bio {
  position: absolute;
  left: 10px;
  flex: 1.2;
}

.follow-btn {
  position: absolute;
  right: 25px;
  bottom: 25px;
  background-color: rgba(225, 186, 75, 255);
  color: black;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
